<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>

<div>
  <!-- Bootstrap Navbar -->
  <nav class="navbar navbar-expand-lg bg-light p-0">
    <div class="container">
      <!-- Brand - Link to # (self) -->
      <a class="navbar-brand" href="#">My Music</a>

      <!-- Navbar toggler for mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- GCU Home Page Link (external URL) -->
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="https://www.gcu.edu" target="_blank">GCU Home Page</a>
          </li>

          <!-- Create Album Link (internal route) -->
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLink="/create">Create Album</a>
          </li>

          <!-- Artist List Link (calls displayArtistList function) -->
          <li class="nav-item" role="presentation">
            <a class="nav-link" (click)="displayArtistList()">Artist List</a>
          </li>

          <!-- About Link (calls displayVersion function) -->
          <li class="nav-item">
            <a class="nav-link" href="" (click)="displayVersion()">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Router Outlet for rendering routed views -->
<router-outlet></router-outlet>
